<!doctype html>
<html>
    <head>
        <title>Dugun Forms</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-sm-offset-3">
                    <h1>Dugun Forms</h1>
                    <p><strong>Dugun Forms</strong> is a set of AngularJS directives which replaces your inputs.</p>
                    <p>The aim is to make the forms easier and richer.</p>
                    <p>
                        GOALS
                        <ul>
                            <li>Generate name and id using ngModel</li>
                            <li>Add classes related to validation state</li>
                            <li>Form builder??</li>
                        </ul>
                    </p>

                    <h3>Installation</h3>
                    <p>Using bower, run:</p>
                    <p><code>bower install --save dugun-forms</code></p>
                    <p>Then include the module in your dependencies:</p>
                    <p><code>angular.module('myApp', ['dugun.forms']);</code></p>
                    <p>Now you can start using the directives!</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <ul style="position: fixed; top: 40px;">
                        <li>
                            <a href="#dgFormText">Text</a>
                        </li>
                        <li>
                            <a href="#dgFormTextArea">Textarea</a>
                        </li>
                        <li>
                            <a href="#dgFormSelect2">Select</a>
                        </li>
                        <li>
                            <a href="#dgFormSelect2Multiple">Multi Select</a>
                        </li>
                        <li>
                            <a href="#dgFormBoolean">Boolean (buttons)</a>
                        </li>
                        <li>
                            <a href="#dgFormBooleanSelect">Boolean (select)</a>
                        </li>
                        <li>
                            <a href="#dgFormCheckbox">Checkbox (single)</a>
                        </li>
                        <li>
                            <a href="#dgFormCheckboxMultiple">Checkbox (multiple)</a>
                        </li>
                        <li>
                            <a href="#dgFormRadio">Radio</a>
                        </li>
                        <li>
                            <a href="#dgFormDate">Date</a>
                        </li>
                        <li>
                            <a href="#dgFormDateRange">Date Range</a>
                        </li>
                        <li>
                            <a href="#dgFormTime">Time</a>
                        </li>
                        <li>
                            <a href="#dgFormDateTime">Date Time</a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-9">
                    <div>
                        <h3 id="dgFormText">dgFormText</h3>
                        <p>Generic input for text.</p>
                        <table class="table table-hovered">
                            <thead>
                                <tr>
                                    <th>Attribute</th>
                                    <th>Type</th>
                                    <th>Required?</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>ngModel</th>
                                    <td>string or number (depends on type)</td>
                                    <td>Yes</td>
                                    <td>Model to store value</td>
                                </tr>
                                <tr>
                                    <th>ngModelOptions</th>
                                    <td>Object</td>
                                    <td>No</td>
                                    <td>Model options <a href="https://docs.angularjs.org/api/ng/directive/ngModelOptions" target="_blank">see documentation</a></td>
                                </tr>
                                <tr>
                                    <th>ngRequired</th>
                                    <td>boolean</td>
                                    <td>No (default: false)</td>
                                    <td>True if required, false otherwise</td>
                                </tr>
                                <tr>
                                    <th>ngDisabled</th>
                                    <td>boolean</td>
                                    <td>No (default: false)</td>
                                    <td>True if disabled, false otherwise</td>
                                </tr>
                                <tr>
                                    <th>maxlength</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>If entered, there will be an incicator on right that shows characters left. To disable this feature, see <code>disableLength</code> attribute</td>
                                </tr>
                                <tr>
                                    <th>disableLength</th>
                                    <td>boolean</td>
                                    <td>No</td>
                                    <td>If true, disables left characters incicator</td>
                                </tr>
                                <tr>
                                    <th>clearable</th>
                                    <td>boolean</td>
                                    <td>No (default: false)</td>
                                    <td>If the user can clear the selection</td>
                                </tr>
                                <tr>
                                    <th>type</th>
                                    <td>String</td>
                                    <td>No (default: 'text')</td>
                                    <td>Set the type of input. <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input#attr-type" target="_blank">see available types</a></td>
                                </tr>
                                <tr>
                                    <th>dgId</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>Id for input element</td>
                                </tr>
                                <tr>
                                    <th>dgName</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>Name for input element</td>
                                </tr>
                                <tr>
                                    <th>mask</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>You can define a mask for input using <a href="https://htmlpreview.github.io/?https://github.com/angular-ui/ui-mask/master/demo/index.html" target="_blank">ui-mask</a></td>
                                </tr>
                                <tr>
                                    <th>numberOnly</th>
                                    <td>boolean</td>
                                    <td>No</td>
                                    <td>If true, user can enter only number in input</td>
                                </tr>
                                <tr>
                                    <th>readonly</th>
                                    <td>boolean</td>
                                    <td>No (default: false)</td>
                                    <td>Whether this input is readonly</td>
                                </tr>
                                <tr>
                                    <th>form</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>If entered, the input will belong to the form with given id</td>
                                </tr>
                            </tbody>
                        </table>

                        <p>There are many available attributes for input, some are not included here. You can check <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input#Attributes" target="_blank">MDN</a> for all. <em>dgFormText</em> supports most of them.</p>

                        <p><strong>Example (Number)</strong></p>
                        <p><samp><code id="dgFormTextExample1" data-lang="html">
                            <script>
                                $('#dgFormTextExample1').text(' \
                                    <dg-form-text \
                                        ng-model="data.price" \
                                        type="number" \
                                        min="0.01" \
                                        max="3" \
                                        step="0.01" \
                                        number-only="true" \
                                    ></dg-form-text> \
                                ');
                            </script>
                        </code></samp></p>

                        <p><strong>Example (Text)</strong></p>
                        <p><samp><code id="dgFormTextExample2" data-lang="html">
                            <script>
                                $('#dgFormTextExample2').text(' \
                                    <dg-form-text \
                                        ng-model="data.name" \
                                        ng-required="true" \
                                    ></dg-form-text> \
                                ');
                            </script>
                        </code></samp></p>
                    </div>

                    <hr>

                    <div>
                        <h3 id="dgFormTextArea">dgFormTextArea</h3>
                        <p>Textarea.</p>

                        <table class="table table-hovered">
                            <thead>
                                <tr>
                                    <th>Attribute</th>
                                    <th>Type</th>
                                    <th>Required?</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>ngModel</th>
                                    <td>string or number (depends on type)</td>
                                    <td>Yes</td>
                                    <td>Model to store value</td>
                                </tr>
                                <tr>
                                    <th>ngRequired</th>
                                    <td>boolean</td>
                                    <td>No (default: false)</td>
                                    <td>True if required, false otherwise</td>
                                </tr>
                                <tr>
                                    <th>ngDisabled</th>
                                    <td>boolean</td>
                                    <td>No (default: false)</td>
                                    <td>True if disabled, false otherwise</td>
                                </tr>
                                <tr>
                                    <th>maxlength</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>Maximum length of text</td>
                                </tr>
                                <tr>
                                    <th>dgId</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>Id for input element</td>
                                </tr>
                                <tr>
                                    <th>dgName</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>Name for input element</td>
                                </tr>
                                <tr>
                                    <th>placeholder</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>Placeholder</td>
                                </tr>
                                <tr>
                                    <th>cols</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>Columns of textarea</td>
                                </tr>
                                <tr>
                                    <th>rows</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>Columns of textarea</td>
                                </tr>
                                <tr>
                                    <th>form</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>If entered, the input will belong to the form with given id. Useful when you need nested forms</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <hr>

                    <div>
                        <h3 id="dgFormSelect2">dgFormSelect2</h3>
                        <p>Dropdown using <a href="https://github.com/angular-ui/ui-select" target="_blank">ui-select</a>.</p>

                        <table class="table table-hovered">
                            <thead>
                                <tr>
                                    <th>Attribute</th>
                                    <th>Type</th>
                                    <th>Required?</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>ngModel</th>
                                    <td>string or number (depends on type)</td>
                                    <td>Yes</td>
                                    <td>Model to store value</td>
                                </tr>
                                <tr>
                                    <th>options</th>
                                    <td>Array</td>
                                    <td>Yes</td>
                                    <td>An array of objects. Each option should represent a choice. By default, you can use <code>id</code> for your value and <code>name</code> for the label. You can change these keys with <strong>idKey</strong> and <strong>valueKey</strong></td>
                                </tr>
                                <tr>
                                    <th>idKey</th>
                                    <td>string</td>
                                    <td>No (default: 'id')</td>
                                    <td>In which property of your object your value is stored</td>
                                </tr>
                                <tr>
                                    <th>valueKey</th>
                                    <td>string</td>
                                    <td>No (default: 'name')</td>
                                    <td>In which property of your object your label is stored</td>
                                </tr>
                                <tr>
                                    <th>ngRequired</th>
                                    <td>boolean</td>
                                    <td>No (default: false)</td>
                                    <td>True if required, false otherwise</td>
                                </tr>
                                <tr>
                                    <th>ngDisabled</th>
                                    <td>boolean</td>
                                    <td>No (default: false)</td>
                                    <td>True if disabled, false otherwise</td>
                                </tr>
                                <tr>
                                    <th>allowClear</th>
                                    <td>boolean</td>
                                    <td>No (default: false)</td>
                                    <td>If you will allow the user to clear selected value, set this to true</td>
                                </tr>
                                <tr>
                                    <th>placeholder</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>Placeholder</td>
                                </tr>
                                <tr>
                                    <th>searchEnabled</th>
                                    <td>boolean</td>
                                    <td>No (default: true)</td>
                                    <td>If you need to disable search feature, set this to false</td>
                                </tr>
                                <tr>
                                    <th>form</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>If entered, the input will belong to the form with given id. Useful when you need nested forms</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <hr>

                    <div>
                        <h3 id="dgFormSelect2Multiple">dgFormSelect2Multiple</h3>
                        <p>Dropdown with multiple select using <a href="https://github.com/angular-ui/ui-select" target="_blank">ui-select</a>.</p>

                        <table class="table table-hovered">
                            <thead>
                                <tr>
                                    <th>Attribute</th>
                                    <th>Type</th>
                                    <th>Required?</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>ngModel</th>
                                    <td>string or number (depends on type)</td>
                                    <td>Yes</td>
                                    <td>Model to store value</td>
                                </tr>
                                <tr>
                                    <th>options</th>
                                    <td>Array</td>
                                    <td>Yes</td>
                                    <td>An array of objects. Each option should represent a choice. By default, you can use <code>id</code> for your value and <code>name</code> for the label. You can change these keys with <strong>idKey</strong> and <strong>valueKey</strong></td>
                                </tr>
                                <tr>
                                    <th>idKey</th>
                                    <td>string</td>
                                    <td>No (default: 'id')</td>
                                    <td>In which property of your object your value is stored</td>
                                </tr>
                                <tr>
                                    <th>valueKey</th>
                                    <td>string</td>
                                    <td>No (default: 'name')</td>
                                    <td>In which property of your object your label is stored</td>
                                </tr>
                                <tr>
                                    <th>ngRequired</th>
                                    <td>boolean</td>
                                    <td>No (default: false)</td>
                                    <td>True if required, false otherwise</td>
                                </tr>
                                <tr>
                                    <th>ngDisabled</th>
                                    <td>boolean</td>
                                    <td>No (default: false)</td>
                                    <td>True if disabled, false otherwise</td>
                                </tr>
                                <tr>
                                    <th>allowClear</th>
                                    <td>boolean</td>
                                    <td>No (default: false)</td>
                                    <td>If you will allow the user to clear selected value, set this to true</td>
                                </tr>
                                <tr>
                                    <th>placeholder</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>Placeholder</td>
                                </tr>
                                <tr>
                                    <th>searchEnabled</th>
                                    <td>boolean</td>
                                    <td>No (default: true)</td>
                                    <td>If you need to disable search feature, set this to false</td>
                                </tr>
                                <tr>
                                    <th>form</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>If entered, the input will belong to the form with given id. Useful when you need nested forms</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <hr>

                    <div>
                        <h3 id="dgFormBoolean">dgFormBoolean</h3>
                        <p>Boolean input using <em>ui-bootstrap</em> button groups.</p>
                    </div>

                    <hr>

                    <div>
                        <h3 id="dgFormBooleanSelect">dgFormBooleanSelect</h3>
                        <p>Boolean select using <a href="#dgFormSelect2"><em>dgFormSelect2</em></a>.</p>
                    </div>

                    <hr>

                    <div>
                        <h3 id="dgFormCheckbox">dgFormCheckbox</h3>
                        <p>Single checkbox.</p>
                    </div>

                    <hr>

                    <div>
                        <h3 id="dgFormCheckboxMultiple">dgFormCheckboxMultiple</h3>
                        <p>Multiple checkboxes that stores values in an array.</p>
                    </div>

                    <hr>

                    <div>
                        <h3 id="dgFormRadio">dgFormRadio</h3>
                        <p>Multiple radio buttons.</p>
                    </div>

                    <hr>

                    <div>
                        <h3 id="dgFormDate">dgFormDate</h3>
                        <p>Datepicker using <em>ui-bootstrap</em> datepicker. Stores the value as string in <em>YYYY-MM-DD</em> format.</p>
                    </div>

                    <hr>

                    <div>
                        <h3 id="dgFormDateRange">dgFormDateRange</h3>
                        <p>Daterangepicker using <em>angular-daterangepicker</em> project. It stores model values as string in <em>YYYY-MM-DD</em> format. The format is not changable at the moment.</p>
                        <table class="table table-hovered">
                            <thead>
                                <tr>
                                    <th>Attribute</th>
                                    <th>Type</th>
                                    <th>Required?</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>ngModelStart</th>
                                    <td>String (YYYY-MM-DD format)</td>
                                    <td>Yes</td>
                                    <td>Model to store start date of range</td>
                                </tr>
                                <tr>
                                    <th>ngModelEnd</th>
                                    <td>String (YYYY-MM-DD format)</td>
                                    <td>Yes</td>
                                    <td>Model to store end date of range</td>
                                </tr>
                                <tr>
                                    <th>min</th>
                                    <td>Date</td>
                                    <td>No</td>
                                    <td>Minimum date value that user can select</td>
                                </tr>
                                <tr>
                                    <th>max</th>
                                    <td>Date</td>
                                    <td>No</td>
                                    <td>Maximum date value that user can select</td>
                                </tr>
                                <tr>
                                    <th>options</th>
                                    <td>Object</td>
                                    <td>No</td>
                                    <td>An object that contains daterangepicker options <a href="http://www.daterangepicker.com/#options" target="_blank">See full list</a></td>
                                </tr>
                                <tr>
                                    <th>clearable</th>
                                    <td>boolean</td>
                                    <td>No (default: false)</td>
                                    <td>If the user can clear the selection</td>
                                </tr>
                                <tr>
                                    <th>ngRequired</th>
                                    <td>boolean</td>
                                    <td>No (default: false)</td>
                                    <td>Add required attribute to input element</td>
                                </tr>
                                <tr>
                                    <th>dgId</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>Id for input element</td>
                                </tr>
                                <tr>
                                    <th>dgName</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>Name for input element</td>
                                </tr>
                                <tr>
                                    <th>form</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>Form attribute for input element</td>
                                </tr>
                                <tr>
                                    <th>placeholder</th>
                                    <td>string</td>
                                    <td>No</td>
                                    <td>Placeholder</td>
                                </tr>
                            </tbody>
                        </table>
                        <p><strong>Example</strong></p>
                        <p><samp><code id="dgFormDateRangeExample" data-lang="html">
                            <script>
                                $('#dgFormDateRangeExample').text(' \
                                    <dg-form-date-range \
                                        ng-model-start="data.dateStart" \
                                        ng-model-end="data.dateEnd"\
                                    ></dg-form-date-range> \
                                ');
                            </script>
                        </code></samp></p>
                    </div>

                    <hr>

                    <div>
                        <h3 id="dgFormTime">dgFormTime</h3>
                        <p>Timepicker using <em>angular-jquery-timepicker</em> project. Stores the selected time in <em>HH:MM</em> format.</p>
                    </div>

                    <hr>

                    <div>
                        <h3 id="dgFormDateTime">dgFormDateTime</h3>
                        <p>
                            Datetime picker using <a href="#dgFormDate"><em>dgFormDate</em></a> and <a href="#dgFormTime"><em>dgFormTime</em></a>. Stores the datetime in <em>YYYY-MM-DD HH:MM</em> format to work well with <em>MySQL / MariaDB</em>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
